/*CSS file created by TheWikiaEditMachine, last edited on August 1st 2016 10:05pm EST)*/
/*This CSS is used for multile wikia including Miner's Haven, War Games, and Azure Mines*/
/*a changelog for CSS updates is coming soon*/

/*font imports*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

/*Styling for HTML audio player*/
audio {
width: 250px;    
}

/*styling for JS Time widget Extensions*/
a#DisplayClockJS {
font-family: Roboto;
font-size: 12pt;
}

/*TheWikiaEditMachine's custom class CSS*/
.TWEMHeading {
font-family: Roboto;
font-size: 24pt;
font-weight: 300;
text-align: center;
}

.TWEMHeadingLine {
font-family: Roboto;
font-size: 24pt;
font-weight: 300;
text-align: center;
border-bottom: 1px solid #EEEEEE;
}

.TWEMHeading2, .hp-Heading, .mw-headline {
font-family: Roboto;
font-size: 18pt;
font-weight: 300;
text-align: center;
}

.TWEMHeading3, .WikiaRail .module h2, .portable-infobox .pi-header  {
font-family: Roboto;
font-size: 16pt;
font-weight: 300;
text-align: center;
}

.TWEMAnnouncement {
font-family: Roboto;
font-size:14pt;
text-align:center;
color:#EEEEEE;
padding: 0.2em;
}

/*Home Page Styling*/
.hp-Heading {
display:flex;
text-align: center;
align-items: center;
cursor: pointer;
font-size: 18pt;
font-weight: 300;
border-radius: 3px;
box-shadow: 0px 5px 10px -3px #000000;
margin: 5px;
}
 
.hp-Heading div {
flex: 1;
}
 
#Header1:hover, #Header2:hover, #Header3:hover, #Header4:hover, #Header5:hover, #Header6:hover, #Header7:hover, #Header8:hover {
border-bottom: 3px solid #EEEEEE;
background-color: rgba(21, 21, 21, 0.2);
}
 
.hp-selected {
border-bottom: 3px solid #EEEEEE;
}
 
#Header1, #Header2, #Header3, #Header4, #Header5, #Header6, #Header7, #Header8 {
transition: all,0.2s,ease-in-out;
text-align: center;
padding: 10px;
}

/*wikia side menu styling*/
.WikiaActivityModule {
background-color: rgba(0, 0, 0, 0);
border: 1px solid #EEEEEE;
box-shadow: 0px 2px 10px -4px #000000;
background-color: #00695C;
padding: 0px 0px 15px;
}

.WikiaRail .module h2 {
margin-bottom: 0px;
padding-left: 0px;
padding-bottom: 0.25em;
margin-bottom: 0.25em;
background-color: #004D40;
box-shadow: 0px 2px 5px -3px #000000;
}

.WikiaRail .Module {
margin: 5px;
padding: 10px
background-color: none;
}

.WikiaRail .module.community-page-entry-point-module {
margin-top: 15px;
} 

.ChatModule h2.chat-headline span {
margin-left: 5px;
}

/*Wikia Website Styling*/
.WikiaPageHeader {
    font-family: Roboto;
    font-weight: 300;
    padding-bottom: 0em;
}

body {
    font-family: Roboto;
    font-weight: 400;
}

/*Wikia Article Styling*/
.wikia-page-header .header-column {
padding--top: 0px;
}

.WikiaArticle p {
margin: 4px 0px;
}

.WikiaArticle p + p {
margin: 4px 0px;
}

.WikiaArticle .h2 {
margin-top: 15px;
}

/*Navigation Styling*/
nav.WikiNav {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.WikiHeader .navbackground img {
opacity: 0;
}

.WikiHeader .navbackground div {
height: 0px;
margin-top: 0px;
width: 0%;
}

.WikiHeader .navbackground {
border-left: none;
border-right: none;
border-bottom: none;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.WikiHeader > nav li.marked {
border-bottom: 2px solid #EEEEEE
}

.WikiHeader > nav li {
border-bottom: none;    
}

.WikiHeader > nav li.marked > a {
 border-top: 0px solid transparent !important;
 }
  
 .WikiHeader li {
 background: transparent !important;
 }

/*infobox styling*/
.portable-infobox {
    border-radius: 3px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 12pt;
    text-align: center;
    padding: 0em;
    box-shadow: 0px 2px 10px 1px #000000;
    position: relative;
    right: 10px;
}

.portable-infobox .pi-title {
    text-align:center;
    font-family:Roboto;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0px 3px 5px black;
}

.portable-infobox .pi-header {
    font-weight: normal;
    text-shadow: 0px 3px 10px black;
}

.portable-infobox .pi-item-spacing {
padding: 3px;
}

.pi-border-color {
border-color: rgba(0, 0, 0, 0);    
}

li.pi-tab-link.pi-item-spacing {
padding: 5px 10px

.portable-infobox.pi-theme-Premium ul.pi-image-collection-tabs li.current {
background-color: none;
}

ul.pi-image-collection-tabs li {
background-color: none;
border-top: none;
border-left: none;
border-right: none;
}

ul.pi-image-collection-tabs li.current {
font-weight: normal;
border-bottom: 2px solid #EEEEEE
}

/*Tabber styling (based off of Mac OS X Yosemite) SOON BEING DELETED*/
ul.tabbernav li a {
    border:none !important;
    background: #ffffff !important;
    font-family: Helvetica !important;
    font-size: 12px !important;
    color: #444444 !important;
    font-weight: 300 !important;
    margin:0 !important;
    padding:2px 12px !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-size: 13px !important;
    cursor:default;
}
ul.tabbernav li:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
ul.tabbernav li:last-of-type a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tabberlive .tabbertab {
    border: none !important;
    border-radius: 3px !important;
    background: rgba(0, 0, 0, 0.25) !important;
    padding:10px 10px 5px 10px !important;
}
ul.tabbernav {
    background: transparent;
    border-bottom: 0 !important;
    padding: 3px 0 !important;
    text-align:center;
    margin: 0 0 -10px 0 !important;
}
ul.tabbernav li a:active {
    background: #f0f0f0 !important;
}
ul.tabbernav li.tabberactive a {
    background:linear-gradient(#6FB3F4, #2687F7) !important;
    color:white !important;
}
ul.tabbernav li.tabberactive a:active {
    background:linear-gradient(#5198F6, #1D6EDD) !important;
    color:white !important;
}
 
 
 
 

